h1 {
  font-weight: 300;
  line-height: 1.25;
  font-size: 1.75rem;
  margin: 1.5rem 0;
}
@media (min-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 380px) {
  h1 {
    font-size: 2rem;
  }
}
